<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BIOSVendor</key>
	<string>Apple Inc.</string>
	<key>BIOSVersion</key>
	<string>1554.40.33.0.0</string>
	<key>BIOSLegacyVersion</key>
	<string>MBP152.88Z.F000.B00.2010042158</string>
	<key>BIOSReleaseDate</key>
	<string>10/04/2020</string>
	<key>SystemManufacturer</key>
	<string>Apple Inc.</string>
	<key>SystemProductName</key>
	<string>MacBookPro15,2</string>
	<key>SystemVersion</key>
	<string>1.0</string>
	<key>SystemSerialNumber</key>
	<string>C02X141CJHCC</string>
	<key>SystemSKUNumber</key>
	<string>System SKU#</string>
	<key>SystemFamily</key>
	<string>MacBook Pro</string>
	<key>BoardManufacturer</key>
	<string>Apple Inc.</string>
	<key>BoardProduct</key>
	<string>Mac-827FB448E656EC26</string>
	<key>BoardVersion</key>
	<string>MacBookPro15,2</string>
	<key>BoardRevision</key>
	<string>0x1</string>
	<key>BoardAssetTag</key>
	<string>Base Board Asset Tag</string>
	<key>BoardType</key>
	<string>0xA</string>
	<key>BoardLocationInChassis</key>
	<string>Part Component</string>
	<key>ChassisManufacturer</key>
	<string>Apple Inc.</string>
	<key>ChassisType</key>
	<string>0x9</string>
	<key>ChassisVersion</key>
	<string>Mac-827FB448E656EC26</string>
	<key>ChassisAssetTag</key>
	<string>Asset Tag#</string>
	<key>PlatformFeature</key>
	<string>0x32</string>
	<key>FirmwareFeatures</key>
	<string>0xFD8FF426</string>
	<key>FirmwareFeaturesMask</key>
	<string>0xFF9FFF3F</string>
	<key>ExtendedFirmwareFeatures</key>
	<string>0x00000000FD8FF426</string>
	<key>ExtendedFirmwareFeaturesMask</key>
	<string>0x00000000FF9FFF3F</string>
	<key>MemoryFormFactor</key>
	<string>0xD</string>
	<key>ProcessorType</key>
	<array>
		<string>0x0701</string>
	</array>
	<key>ProcessorBusSpeed</key>
	<array>
		<string>12345</string>
	</array>
	<key>SmcGeneration</key>
	<string>3</string>
	<key>SmcRevision</key>
	<array/>
	<key>SmcBranch</key>
	<array/>
	<key>SmcPlatform</key>
	<array>
		<string>0x6A</string>
		<string>0x31</string>
		<string>0x33</string>
		<string>0x32</string>
		<string>0x00</string>
		<string>0x00</string>
		<string>0x00</string>
		<string>0x00</string>
	</array>
	<key>SmcEPCI</key>
	<string></string>
	<key>AppleModelCode</key>
	<array>
		<string>JHCC</string>
	</array>
	<key>AppleBoardCode</key>
	<array>
		<string>JH4R</string>
	</array>
	<key>AppleModelYear</key>
	<array>
		<string>2018</string>
		<string>2019</string>
		<string>2020</string>
	</array>
</dict>
</plist>
