<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BIOSVendor</key>
	<string>Apple Inc.</string>
	<key>BIOSVersion</key>
	<string>421.0.0.0.0</string>
	<key>BIOSLegacyVersion</key>
	<string>MBP91.88Z.F000.B00.2012171805</string>
	<key>BIOSReleaseDate</key>
	<string>12/17/2020</string>
	<key>SystemManufacturer</key>
	<string>Apple Inc.</string>
	<key>SystemProductName</key>
	<string>MacBookPro9,2</string>
	<key>SystemVersion</key>
	<string>1.0</string>
	<key>SystemSerialNumber</key>
	<string>C02HA041DTY3</string>
	<key>SystemSKUNumber</key>
	<string>System SKU#</string>
	<key>SystemFamily</key>
	<string>MacBook Pro</string>
	<key>BoardManufacturer</key>
	<string>Apple Inc.</string>
	<key>BoardProduct</key>
	<string>Mac-6F01561E16C75D06</string>
	<key>BoardVersion</key>
	<string>MacBookPro9,2</string>
	<key>BoardRevision</key>
	<string></string>
	<key>BoardAssetTag</key>
	<string>Base Board Asset Tag</string>
	<key>BoardType</key>
	<string>0xA</string>
	<key>BoardLocationInChassis</key>
	<string>Part Component</string>
	<key>ChassisManufacturer</key>
	<string>Apple Inc.</string>
	<key>ChassisType</key>
	<string>0xA</string>
	<key>ChassisVersion</key>
	<string>Mac-6F01561E16C75D06</string>
	<key>ChassisAssetTag</key>
	<string>Asset Tag#</string>
	<key>PlatformFeature</key>
	<string></string>
	<key>FirmwareFeatures</key>
	<string>0xC10DF577</string>
	<key>FirmwareFeaturesMask</key>
	<string>0xFF1FFF7F</string>
	<key>ExtendedFirmwareFeatures</key>
	<string>0x00000000C10DF577</string>
	<key>ExtendedFirmwareFeaturesMask</key>
	<string>0x00000000FF1FFF7F</string>
	<key>MemoryFormFactor</key>
	<string>0xD</string>
	<key>ProcessorType</key>
	<array>
		<string>0x0604</string>
	</array>
	<key>ProcessorBusSpeed</key>
	<array>
		<string>12345</string>
	</array>
	<key>SmcGeneration</key>
	<string>2</string>
	<key>SmcRevision</key>
	<array>
		<string>0x02</string>
		<string>0x02</string>
		<string>0x0f</string>
		<string>0x00</string>
		<string>0x00</string>
		<string>0x44</string>
	</array>
	<key>SmcBranch</key>
	<array>
		<string>0x62</string>
		<string>0x72</string>
		<string>0x61</string>
		<string>0x6E</string>
		<string>0x63</string>
		<string>0x68</string>
		<string>0x00</string>
		<string>0x00</string>
	</array>
	<key>SmcPlatform</key>
	<array>
		<string>0x6A</string>
		<string>0x33</string>
		<string>0x30</string>
		<string>0x00</string>
		<string>0x00</string>
		<string>0x00</string>
		<string>0x00</string>
		<string>0x00</string>
	</array>
	<key>SmcEPCI</key>
	<string>0x76006</string>
	<key>AppleModelCode</key>
	<array>
		<string>DTY3</string>
	</array>
	<key>AppleBoardCode</key>
	<array>
		<string>F1YJ</string>
	</array>
	<key>AppleModelYear</key>
	<array>
		<string>2012</string>
		<string>2013</string>
		<string>2014</string>
		<string>2015</string>
		<string>2016</string>
	</array>
	<key>mobile</key>
	<true/>
</dict>
</plist>
