<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BIOSVendor</key>
	<string>Apple Computer, Inc.</string>
	<key>BIOSVersion</key>
	<string>IM61.88Z.0093.B07.0804281538</string>
	<key>BIOSLegacyVersion</key>
	<string>IM61.88Z.0093.B07.0804281538</string>
	<key>BIOSReleaseDate</key>
	<string>04/28/2008</string>
	<key>SystemManufacturer</key>
	<string>Apple Computer, Inc.</string>
	<key>SystemProductName</key>
	<string>iMac6,1</string>
	<key>SystemVersion</key>
	<string>1.0</string>
	<key>SystemSerialNumber</key>
	<string>W8652HACVGN</string>
	<key>SystemSKUNumber</key>
	<string>System SKUNumber</string>
	<key>SystemFamily</key>
	<string>iMac</string>
	<key>BoardManufacturer</key>
	<string>Apple Computer, Inc.</string>
	<key>BoardProduct</key>
	<string>Mac-F4218FC8</string>
	<key>BoardVersion</key>
	<string>DVT</string>
	<key>BoardAssetTag</key>
	<string>Base Board Asset Tag</string>
	<key>BoardType</key>
	<string>0xA</string>
	<key>BoardLocationInChassis</key>
	<string>Part Component</string>
	<key>ChassisManufacturer</key>
	<string>Apple Computer, Inc.</string>
	<key>ChassisType</key>
	<string>0xD</string>
	<key>ChassisVersion</key>
	<string>Mac-F4218FC8</string>
	<key>ChassisAssetTag</key>
	<string>Asset Tag</string>
	<key>MemoryFormFactor</key>
	<string>0x9</string>
	<key>ProcessorType</key>
	<array>
		<string>0x0301</string>
	</array>
	<key>ProcessorBusSpeed</key>
	<array>
		<string>12345</string>
	</array>
	<key>SmcGeneration</key>
	<string>1</string>
	<key>SmcRevision</key>
	<array>
		<string>0x01</string>
		<string>0x08</string>
		<string>0x0f</string>
		<string>0x00</string>
		<string>0x00</string>
		<string>0x02</string>
	</array>
	<key>SmcBranch</key>
	<array>
		<string>0x4E</string>
		<string>0x41</string>
		<string>0x00</string>
		<string>0x00</string>
		<string>0x00</string>
		<string>0x00</string>
		<string>0x00</string>
		<string>0x00</string>
	</array>
	<key>SmcPlatform</key>
	<array>
		<string>0x4E</string>
		<string>0x41</string>
		<string>0x00</string>
		<string>0x00</string>
		<string>0x00</string>
		<string>0x00</string>
		<string>0x00</string>
		<string>0x00</string>
	</array>
	<key>SmcEPCI</key>
	<string>0x73002</string>
	<key>AppleModelCode</key>
	<array>
		<string>VGN</string>
	</array>
	<key>AppleBoardCode</key>
	<array>
		<string>000</string>
	</array>
	<key>AppleModelYear</key>
	<array>
		<string>2006</string>
		<string>2007</string>
	</array>
</dict>
</plist>
