<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BIOSVendor</key>
	<string>Apple Inc.</string>
	<key>BIOSVersion</key>
	<string>76.0.0.0.0</string>
	<key>BIOSLegacyVersion</key>
	<string>MM41.88Z.F000.B00.1906132344</string>
	<key>BIOSReleaseDate</key>
	<string>06/13/2019</string>
	<key>SystemManufacturer</key>
	<string>Apple Inc.</string>
	<key>SystemProductName</key>
	<string>Macmini4,1</string>
	<key>SystemVersion</key>
	<string>1.0</string>
	<key>SystemSerialNumber</key>
	<string>C02FHBBEDD6H</string>
	<key>SystemSKUNumber</key>
	<string></string>
	<key>SystemFamily</key>
	<string>Mac mini</string>
	<key>BoardManufacturer</key>
	<string>Apple Inc.</string>
	<key>BoardProduct</key>
	<string>Mac-F2208EC8</string>
	<key>BoardVersion</key>
	<string>Macmini4,1</string>
	<key>BoardRevision</key>
	<string></string>
	<key>BoardAssetTag</key>
	<string></string>
	<key>BoardType</key>
	<string>0xA</string>
	<key>BoardLocationInChassis</key>
	<string>Part Component</string>
	<key>ChassisManufacturer</key>
	<string>Apple Inc.</string>
	<key>ChassisType</key>
	<string>0x10</string>
	<key>ChassisVersion</key>
	<string>Mac-F2208EC8</string>
	<key>ChassisAssetTag</key>
	<string></string>
	<key>PlatformFeature</key>
	<string></string>
	<key>FirmwareFeatures</key>
	<string>0xC00C9423</string>
	<key>FirmwareFeaturesMask</key>
	<string>0xFF1FFF3F</string>
	<key>ExtendedFirmwareFeatures</key>
	<string>0x00000000C00C9423</string>
	<key>ExtendedFirmwareFeaturesMask</key>
	<string>0x00000000FF1FFF3F</string>
	<key>MemoryFormFactor</key>
	<string>0xD</string>
	<key>ProcessorType</key>
	<array>
		<string>0x0301</string>
	</array>
	<key>ProcessorBusSpeed</key>
	<array>
		<string>12345</string>
	</array>
	<key>SmcGeneration</key>
	<string>1</string>
	<key>SmcRevision</key>
	<array>
		<string>0x01</string>
		<string>0x65</string>
		<string>0x0f</string>
		<string>0x00</string>
		<string>0x00</string>
		<string>0x02</string>
	</array>
	<key>SmcBranch</key>
	<array>
		<string>0x4E</string>
		<string>0x41</string>
		<string>0x00</string>
		<string>0x00</string>
		<string>0x00</string>
		<string>0x00</string>
		<string>0x00</string>
		<string>0x00</string>
	</array>
	<key>SmcPlatform</key>
	<array>
		<string>0x4E</string>
		<string>0x41</string>
		<string>0x00</string>
		<string>0x00</string>
		<string>0x00</string>
		<string>0x00</string>
		<string>0x00</string>
		<string>0x00</string>
	</array>
	<key>SmcEPCI</key>
	<string>0x78002</string>
	<key>AppleModelCode</key>
	<array>
		<string>DD6H</string>
	</array>
	<key>AppleBoardCode</key>
	<array>
		<string>DC2D</string>
	</array>
	<key>AppleModelYear</key>
	<array>
		<string>2010</string>
		<string>2011</string>
	</array>
</dict>
</plist>
