<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<array>
		<dict>
			<key>description</key>
			<string>Enter Apple BootPicker menu (exclusive for Macs with compatible GPUs).</string>
			<key>name</key>
			<string>BootKicker</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Test BeepGen protocol and generate audio signals of different style and length.</string>
			<key>name</key>
			<string>ChipTune</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Reset NVRAM alternative bundled as a standalone tool.</string>
			<key>name</key>
			<string>CleanNvram</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Test GraphicsOutput protocol with a simple scenario.</string>
			<key>name</key>
			<string>GopStop</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Parse and dump High Definition Audio codec information (requires AudioDxe).</string>
			<key>name</key>
			<string>HdaCodecDump</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Test keyboard input in SimpleText mode.</string>
			<key>name</key>
			<string>KeyTester</string>
		</dict>
		<dict>
			<key>description</key>
			<string></string>
			<key>name</key>
			<string>MmapDump</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Unlock and lock back NVRAM protection for other tools to be able to get full NVRAM access when launching from OpenCore.</string>
			<key>name</key>
			<string>OpenControl</string>
		</dict>
		<dict>
			<key>description</key>
			<string>OpenCore-configured UEFI Shell for compatibility with a broad range of firmwares.</string>
			<key>name</key>
			<string>OpenShell</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Utility to perform system reset. Takes reset type as an argument: ColdReset, WarmReset, Shutdown. Defaults to ColdReset.</string>
			<key>name</key>
			<string>ResetSystem</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Utility to read and write RTC (CMOS) memory.</string>
			<key>name</key>
			<string>RtcRw</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Check CFG Lock (MSR 0xE2 write protection) consistency across all cores.</string>
			<key>name</key>
			<string>VerifyMsrE2</string>
		</dict>
	</array>
</dict>
</plist>
