<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<array>
		<dict>
			<key>description</key>
			<string>Starting with macOS 10.15 Ambient Light Sensor presence is required for backlight functioning. Here we create an Ambient Light Sensor ACPI Device, which can be used by SMCLightSensor kext to report either dummy (when no device is present) or valid values through SMC interface.</string>
			<key>name</key>
			<string>SSDT-ALS0</string>
		</dict>
		<dict>
			<key>description</key>
			<string></string>
			<key>name</key>
			<string>SSDT-ARTC</string>
		</dict>
		<dict>
			<key>description</key>
			<string>For 300-series only. If you can&apos;t force enable Legacy RTC in BIOS GUI. macOS does yet not support AWAC, so we have to force enable RTC. Do not use RTC ACPI patch.  The Time and Alarm device provides an alternative to the real time clock (RTC), which is defined as a fixed feature hardware device. The wake timers allow the system to transition from the S3 (or optionally S4/S5) state to S0 state after a time period elapses. In comparison with the Real Time Clock (RTC) Alarm, the Time and Alarm device provides a larger scale of flexibility in the operation of the wake timers, and allows the implementation of the time source to be abstracted from the OSPM.</string>
			<key>name</key>
			<string>SSDT-AWAC</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Power Management. For AMD B550 and A520 users, you must include this SSDT to boot. Note that X570 and older boards do not need this SSDT.</string>
			<key>name</key>
			<string>SSDT-CPUR</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Fix Embedded Controllers. For Broadwell desktops and older.</string>
			<key>name</key>
			<string>SSDT-EC-DESKTOP</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Fix Embedded Controllers. For Broadwell laptops and older.</string>
			<key>name</key>
			<string>SSDT-EC-LAPTOP</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Fix Embedded Controllers. For Skylake desktops and newer and AMD CPU based systems.</string>
			<key>name</key>
			<string>SSDT-EC-USBX-DESKTOP</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Fix Embedded Controllers. For Skylake laptops and newer.</string>
			<key>name</key>
			<string>SSDT-EC-USBX-LAPTOP</string>
		</dict>
		<dict>
			<key>description</key>
			<string>USB compatibility table. To disable EHC1 and EHC2 - set an option &quot;XHCI Mode&quot; to &quot;Enabled&quot; in yours BIOS. If the &quot;XHCI Mode&quot; option is not available in yours BIOS or works incorrectly, then use this ACPI table. Disabling through BIOS is preferable whenever possible. WARN: for 7-series you need to use either &quot;EH1D = One&quot; or &quot;EH2D = One&quot; but not both! This is because only one of the devices (EHC1 or EHC2) is used by macOS. Check the IOReg.</string>
			<key>name</key>
			<string>SSDT-EHCx_OFF</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Only necessary when no IMEI device (with any name) is present in the DSDT and a custom device-id is needed to be set via DeviceProperties (some Sandy Bridge or Ivy Bridge configurations).</string>
			<key>name</key>
			<string>SSDT-IMEI-S</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Only necessary when no IMEI device (with any name) is present in the DSDT and a custom device-id is needed to be set via DeviceProperties (some Sandy Bridge or Ivy Bridge configurations).</string>
			<key>name</key>
			<string>SSDT-IMEI</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Power Management. For Haswell and higher CPU</string>
			<key>name</key>
			<string>SSDT-PLUG-DRTNIA</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Fix NVRAM. Add PMC</string>
			<key>name</key>
			<string>SSDT-PMC</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Fix Backlight. For Coffee Lake and newer</string>
			<key>name</key>
			<string>SSDT-PNLF-CFL</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Fix Backlight. For most users.</string>
			<key>name</key>
			<string>SSDT-PNLF</string>
		</dict>
		<dict>
			<key>description</key>
			<string>So on 400 series motherboards, certain OEMs have broken the ACPI spec and this results in issues when booting into macOS. To fix this, we&apos;ll want to turn off the RHUB device and force macOS to manually rebuild the ports.</string>
			<key>name</key>
			<string>SSDT-RHUB</string>
		</dict>
		<dict>
			<key>description</key>
			<string>This SSDT can be used instead of an &quot;OS Check Fix&quot; patch to simulate a version of Windows for Darwin.</string>
			<key>name</key>
			<string>SSDT-XOSI</string>
		</dict>
	</array>
</dict>
</plist>
