<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<array>
		<dict>
			<key>description</key>
			<string></string>
			<key>name</key>
			<string>SSDT-ALS0</string>
		</dict>
		<dict>
			<key>description</key>
			<string></string>
			<key>name</key>
			<string>SSDT-ARTC</string>
		</dict>
		<dict>
			<key>description</key>
			<string></string>
			<key>name</key>
			<string>SSDT-AWAC</string>
		</dict>
		<dict>
			<key>description</key>
			<string></string>
			<key>name</key>
			<string>SSDT-CPUR</string>
		</dict>
		<dict>
			<key>description</key>
			<string></string>
			<key>name</key>
			<string>SSDT-EC-DESKTOP</string>
		</dict>
		<dict>
			<key>description</key>
			<string></string>
			<key>name</key>
			<string>SSDT-EC-LAPTOP</string>
		</dict>
		<dict>
			<key>description</key>
			<string></string>
			<key>name</key>
			<string>SSDT-EC-USBX-DESKTOP</string>
		</dict>
		<dict>
			<key>description</key>
			<string></string>
			<key>name</key>
			<string>SSDT-EC-USBX-LAPTOP</string>
		</dict>
		<dict>
			<key>description</key>
			<string></string>
			<key>name</key>
			<string>SSDT-EHCx_OFF</string>
		</dict>
		<dict>
			<key>description</key>
			<string></string>
			<key>name</key>
			<string>SSDT-IMEI-S</string>
		</dict>
		<dict>
			<key>description</key>
			<string></string>
			<key>name</key>
			<string>SSDT-IMEI</string>
		</dict>
		<dict>
			<key>description</key>
			<string></string>
			<key>name</key>
			<string>SSDT-PLUG-DRTNIA</string>
		</dict>
		<dict>
			<key>description</key>
			<string></string>
			<key>name</key>
			<string>SSDT-PMC</string>
		</dict>
		<dict>
			<key>description</key>
			<string></string>
			<key>name</key>
			<string>SSDT-PNLF-CFL</string>
		</dict>
		<dict>
			<key>description</key>
			<string></string>
			<key>name</key>
			<string>SSDT-PNLF</string>
		</dict>
		<dict>
			<key>description</key>
			<string></string>
			<key>name</key>
			<string>SSDT-RHUB</string>
		</dict>
		<dict>
			<key>description</key>
			<string></string>
			<key>name</key>
			<string>SSDT-XOSI</string>
		</dict>
	</array>
</dict>
</plist>
