<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>3Ddesign</string>
		<key>screenshot</key>
		<string>https://raw.githubusercontent.com/chris1111/My-Simple-OC-Themes/master/View%20Boot%200.7/3Ddesign.png</string>
		<key>url</key>
		<string>https://raw.githubusercontent.com/chris1111/My-Simple-OC-Themes/master/Resources-0.7.0/3Ddesign.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>Action</string>
		<key>screenshot</key>
		<string>https://raw.githubusercontent.com/chris1111/My-Simple-OC-Themes/master/View%20Boot%200.7/Action.png</string>
		<key>url</key>
		<string>https://raw.githubusercontent.com/chris1111/My-Simple-OC-Themes/master/Resources-0.7.0/Action.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>AloySteel</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/AloySteel.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/AloySteel.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>btwise</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>ASUS-ROG</string>
		<key>screenshot</key>
		<string>https://codechina.csdn.net/btwise/OC-Themes/-/raw/master/View%20Background/ASUS-ROG.png</string>
		<key>url</key>
		<string>https://codechina.csdn.net/btwise/OC-Themes/-/raw/master/Resources-0.7.0/ASUS-ROG.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>btwise</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>MINIMAL</string>
		<key>screenshot</key>
		<string>https://codechina.csdn.net/btwise/OC-Themes/-/raw/master/View%20Background/MINIMAL.png</string>
		<key>url</key>
		<string>https://codechina.csdn.net/btwise/OC-Themes/-/raw/master/Resources-0.7.0/MINIMAL.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>BS-Exposure</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/BS-Exposure.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/BS-Exposure.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>BeautyAngle</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/BeautyAngle.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/BeautyAngle.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>BeautySteel</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/BeautySteel.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/BeautySteel.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>BlackBeauty</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/BlackBeauty.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/BlackBeauty.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>BlackLight</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/BlackLight.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/BlackLight..zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>BlueGrey</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/BlueGrey.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/BlueGrey.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>BlueGreyMac</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/BlueGreyMac.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/BlueGreyMac.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>BlueShadow</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/BlueShadow.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/BlueShadow.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>CollorBeauty</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/CollorBeauty.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/CollorBeauty.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>Coloryst</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/Coloryst.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/Coloryst.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>Cyborg</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/Cyborg.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/Cyborg.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>DarkGreen</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/DarkGreen.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/DarkGreen.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>DarkPurpleMetal</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/DarkPurpleMetal.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/DarkPurpleMetal.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>DarkSpace</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/DarkSpace.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/DarkSpace.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>Darker</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/Darker.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/Darker.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>ElectricalOC-V2</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/ElectricalOC-V2.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/ElectricalOC-V2.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>ElectricalOC</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/ElectricalOC.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/ElectricalOC.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>ElectricalOCPurple</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/ElectricalOCPurple.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/ElectricalOCPurple.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>Exact</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/Exact.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/Exact.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>Exagcore</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/Exagcore.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/Exagcore.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>ForeignSpecies</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/ForeignSpecies.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/ForeignSpecies.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>FullScreen</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/FullScreen.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/FullScreen.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>FullStage</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/FullStage.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/FullStage.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>FusionCore</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/FusionCore.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/FusionCore.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>GeoMetCube</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/GeoMetCube.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/GeoMetCube.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>Glasses</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/Glasses.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/Glasses.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>GlowBlue</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/GlowBlue.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/GlowBlue.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>GreyLight</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/GreyLight.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/GreyLight.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>HardWood</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/HardWood.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/HardWood.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>Incrusted</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/Incrusted.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/Incrusted.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>Lamp-2</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/Lamp-2.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/Lamp-2.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>Lamp</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/Lamp.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/Lamp.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>LightBox</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/LightBox.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/LightBox.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>LightCube-2</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/LightCube-2.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/LightCube-2.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>LightCube</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/LightCube.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/LightCube.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>LightFlake</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/LightFlake.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/LightFlake.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>Lights-On</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/Lights-On.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/Lights-On.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>LosangeCollor</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/LosangeCollor.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/LosangeCollor.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>Luminary</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/Luminary.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/Luminary.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>MacSteel</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/MacSteel.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/MacSteel.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>MetalBlack</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/MetalBlack.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/MetalBlack.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>Monterey</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/Monterey.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/Monterey.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>MotherShip</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/MotherShip.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/MotherShip.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>Multi</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/Multi.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/Multi.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>NiceBlue</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/NiceBlue.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/NiceBlue.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>NightBlue</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/NightBlue.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/NightBlue.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>NightGlowCity</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/NightGlowCity.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/NightGlowCity.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>OCBeauty</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/OCBeauty.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/OCBeauty.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>OCCloud</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/OCCloud.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/OCCloud.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>OnLight</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/OnLight.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/OnLight.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>OnStage</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/OnStage.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/OnStage.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>Origin</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/Origin.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/Origin.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>Pixels</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/Pixels.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/Pixels.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>Quintessence</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/Quintessence.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/Quintessence.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>RealSteel</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/RealSteel.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/RealSteel.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>Rock&amp;Steel</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/Rock&amp;Steel.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/Rock&amp;Steel.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>Shelter</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/Shelter1.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/Shelter.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>SilentNight</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/SilentNight.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/SilentNight.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>StarWars</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/StarWars.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/StarWars.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>Teleport</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/Teleport.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/Teleport.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>Transporter</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/Transporter.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/Transporter.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>Tribute</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/Tribute.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/Tribute.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>TwoTone</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/TwoTone.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/TwoTone.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>Wall</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/Wall.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/Wall.zip</string>
	</dict>
	<dict>
		<key>author</key>
		<string>chris1111</string>
		<key>compatibility</key>
		<string>0.7.0/0.7.1</string>
		<key>name</key>
		<string>WhyNot</string>
		<key>screenshot</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/View%20Boot%200.7/WhyNot.png</string>
		<key>url</key>
		<string>https://github.com/chris1111/My-Simple-OC-Themes/raw/master/Resources-0.7.0/WhyNot.zip</string>
	</dict>
</array>
</plist>
