<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DriversUEFI</key>
	<array>
		<dict>
			<key>description</key>
			<string>UEFI固件中的HDA音频支持驱动程序，适用于大多数英特尔和其他一些模拟音频控制器。</string>
			<key>name</key>
			<string>AudioDxe</string>
			<key>arch</key>
			<array>
				<string>32</string>
				<string>64</string>
			</array>
		</dict>
		<dict>
			<key>description</key>
			<string>用于Bootcamp支持的专有ExFAT文件系统驱动程序，通常在Apple固件中找到。对于Sandy Bridge和更早的CPU，由于缺少RDRAND指令支持，因此应使用ExFatDxeLegacy驱动程序。</string>
			<key>name</key>
			<string>ExFatDxe</string>
			<key>arch</key>
			<array>
				<string>64</string>
			</array>
		</dict>
		<dict>
			<key>description</key>
			<string></string>
			<key>name</key>
			<string>ExFatDxeLegacy</string>
			<key>arch</key>
			<array>
				<string>64</string>
			</array>
		</dict>
		<dict>
			<key>description</key>
			<string>HII服务支持MdeModulePkg的驱动程序。从Ivy Bridge生成的大多数固件中都包含此驱动程序。某些带有GUI的应用程序（例如UEFI Shell）可能需要此驱动程序才能正常工作。</string>
			<key>name</key>
			<string>HiiDatabase</string>
			<key>arch</key>
			<array>
				<string>32</string>
				<string>64</string>
			</array>
		</dict>
		<dict>
			<key>description</key>
			<string>OpenRuntime是OpenCore必不可少插件。该协议实现了OpenCore所需的多个功能，必须!!</string>
			<key>name</key>
			<string>OpenRuntime</string>
			<key>arch</key>
			<array>
				<string>32</string>
				<string>64</string>
			</array>
		</dict>
		<dict>
			<key>description</key>
			<string>OpenCanopy是一个图形化OpenCore用户界面，它在外部PickerMode中运行，并依赖于OpenCorePkg OcBootManagementLib，类似于内置文本界面。
OpenCanopy需要位于Resources目录中的图形资源才能运行。可以在OcBinaryData存储库中找到示例资源（字体和图像）。
</string>
			<key>name</key>
			<string>OpenCanopy</string>
			<key>arch</key>
			<array>
				<string>32</string>
				<string>64</string>
			</array>
		</dict>
		<dict>
			<key>description</key>
			<string>来自MdeModulePkg的NVMe支持驱动程序。从Broadwell一代开始的大多数固件中都包含此驱动程序。对于Haswell及更早版本，如果安装了NVMe SSD驱动器，则将其嵌入固件中可能会更有利。</string>
			<key>name</key>
			<string>NvmExpressDxe</string>
			<key>arch</key>
			<array>
				<string>32</string>
				<string>64</string>
			</array>
		</dict>
		<dict>
			<key>description</key>
			<string>USB键盘驱动程序在自定义USB键盘驱动程序实现的基础上添加了对AppleKeyMapAggregator协议的支持。这是内置KeySupport的替代方法，根据固件的不同，它可能会更好或更坏。</string>
			<key>name</key>
			<string>OpenUsbKbDxe</string>
			<key>arch</key>
			<array>
				<string>32</string>
				<string>64</string>
			</array>
		</dict>
		<dict>
			<key>description</key>
			<string>MdeModulePkg的PS/2键盘驱动程序。 OpenDuetPkg和某些固件可能不包括此驱动程序，但是PS / 2键盘必须工作。请注意，与OpenUsbKbDxe不同，该驱动程序没有AppleKeyMapAggregator支持，因此需要启用KeySupport。</string>
			<key>name</key>
			<string>Ps2KeyboardDxe</string>
			<key>arch</key>
			<array>
				<string>32</string>
				<string>64</string>
			</array>
		</dict>
		<dict>
			<key>description</key>
			<string>MdeModulePkg的PS/2鼠标驱动程序。某些非常古老的笔记本电脑固件可能不包括此驱动程序，但触摸板必须在UEFI图形界面（如OpenCanopy）中工作。</string>
			<key>name</key>
			<string>Ps2MouseDxe</string>
			<key>arch</key>
			<array>
				<string>32</string>
				<string>64</string>
			</array>
		</dict>
		<dict>
			<key>description</key>
			<string>MdeModulePkg的USB鼠标驱动程序。某些虚拟机固件（例如OVMF）可能不包含此驱动程序，但鼠标必须在UEFI图形界面（如OpenCanopy）中工作。</string>
			<key>name</key>
			<string>UsbMouseDxe</string>
			<key>arch</key>
			<array>
				<string>32</string>
				<string>64</string>
			</array>
		</dict>
		<dict>
			<key>description</key>
			<string>从Sandy Bridge代开始的大多数固件中都包含此驱动程序。对于较早的固件或旧系统，它可以用于支持外部USB 3.0 PCI卡。</string>
			<key>name</key>
			<string>XhciDxe</string>
			<key>arch</key>
			<array>
				<string>32</string>
				<string>64</string>
			</array>
		</dict>
		<dict>
			<key>description</key>
			<string>具有bless支持的HFS文件系统驱动程序。该驱动程序可以替代Apple固件中常见的封闭源HFSPlus驱动程序。现已替代了VboxHfs.efi。</string>
			<key>name</key>
			<string>OpenHfsPlus</string>
			<key>arch</key>
			<array>
				<string>32</string>
				<string>64</string>
			</array>
		</dict>
		<dict>
			<key>description</key>
			<string>Apple固件中常见的具有bless支持的专有HFS文件系统驱动程序。对于Sandy Bridge和更早的CPU，由于缺少RDRAND指令支持，因此应使用HfsPlusLegacy驱动程序。</string>
			<key>name</key>
			<string>HfsPlus</string>
			<key>arch</key>
			<array>
				<string>32</string>
				<string>64</string>
			</array>
		</dict>
		<dict>
			<key>description</key>
			<string>传统引导模式下HFS分区格式支持</string>
			<key>name</key>
			<string>HfsPlusLegacy</string>
			<key>arch</key>
			<array>
				<string>64</string>
			</array>
		</dict>
		<dict>
			<key>description</key>
			<string>NTFS文件系统驱动程序。很少用到</string>
			<key>name</key>
			<string>NTFS</string>
			<key>arch</key>
			<array>
				<string>64</string>
			</array>
		</dict>
		<dict>
			<key>description</key>
			<string>OpenCore引导界面用于截图的工具，快捷键为F10</string>
			<key>name</key>
			<string>CrScreenshotDxe</string>
			<key>arch</key>
			<array>
				<string>32</string>
				<string>64</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
