<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOLS</key>
	<array>
		<dict>
			<key>description</key>
			<string>進入Apple BootPicker選單（不包括具有相容GPU的Mac）。</string>
			<key>name</key>
			<string>BootKicker</string>
		</dict>
		<dict>
			<key>description</key>
			<string>測試BeepGen協議並生成不同樣式和長度的音訊訊號。</string>
			<key>name</key>
			<string>ChipTune</string>
		</dict>
		<dict>
			<key>description</key>
			<string>重置捆绑為獨立工具的NVRAM取代品。</string>
			<key>name</key>
			<string>CleanNvram</string>
		</dict>
		<dict>
			<key>description</key>
			<string>用一個簡單的場景測試GraphicsOutput協議。</string>
			<key>name</key>
			<string>GopStop</string>
		</dict>
		<dict>
			<key>description</key>
			<string>在SimpleText模式下測試鍵盤输入。</string>
			<key>name</key>
			<string>KeyTester</string>
		</dict>
		<dict>
			<key>description</key>
			<string>很少用</string>
			<key>name</key>
			<string>MmapDump</string>
		</dict>
		<dict>
			<key>description</key>
			<string>從其他設備解鎖和鎖定NVRAM保護，以便在從OpenCore啟動時能夠獲得完整的NVRAM瀏覽權限。</string>
			<key>name</key>
			<string>OpenControl</string>
		</dict>
		<dict>
			<key>description</key>
			<string>配置了OpenCore的UEFI Shell，可相容各種韌體。</string>
			<key>name</key>
			<string>OpenShell</string>
		</dict>
		<dict>
			<key>description</key>
			<string>用於執行系统重置的實用程式。將重置類型作為参数：ColdReset，WarmReset，Shutdown。預設為ColdReset。</string>
			<key>name</key>
			<string>ResetSystem</string>
		</dict>
		<dict>
			<key>description</key>
			<string>讀取和寫入RTC（CMOS）記憶體的實用程式。</string>
			<key>name</key>
			<string>RtcRw</string>
		</dict>
		<dict>
			<key>description</key>
			<string>檢查所有 Kernel 之間的CFG鎖（MSR 0xE2寫保護）一致性。</string>
			<key>name</key>
			<string>VerifyMsrE2</string>
		</dict>
	</array>
</dict>
</plist>
