<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>Patch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>BTIF renamed XTIF for HP_840G3</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>QlRJRgk=</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>Replace</key>
				<data>WFRJRgk=</data>
				<key>ReplaceMask</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>TableSignature</key>
				<data></data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>BTST renamed XTST  for HP_840G3</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>QlRTVAo=</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>Replace</key>
				<data>WFRTVAo=</data>
				<key>ReplaceMask</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>TableSignature</key>
				<data></data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ITLB renamed XTLB for HP_840G3</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>SVRMQgA=</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>Replace</key>
				<data>WFRMQgA=</data>
				<key>ReplaceMask</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>TableSignature</key>
				<data></data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>GBTI renamed XBTI for HP_840G3</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>R0JUSQE=</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>Replace</key>
				<data>WEJUSQE=</data>
				<key>ReplaceMask</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>TableSignature</key>
				<data></data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>GBTC renamed XBTC for HP_840G3</string>
				<key>Count</key>
				<integer>0</integer>
				<key>OemTableId</key>
				<data></data>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>R0JUQwA=</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data></data>
				<key>Replace</key>
				<data>WEJUQwA=</data>
				<key>ReplaceMask</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>TableSignature</key>
				<data>AAAAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SBTC renamed XSTC for HP_840G3</string>
				<key>Count</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>TableSignature</key>
				<data>AAAAAA==</data>
				<key>OemTableId</key>
				<data></data>
				<key>Mask</key>
				<data></data>
				<key>Enabled</key>
				<true/>
				<key>Replace</key>
				<data>WFNUQwM=</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Skip</key>
				<integer>0</integer>
				<key>ReplaceMask</key>
				<data></data>
				<key>Find</key>
				<data>U0JUQwM=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>GCGC renamed XCGC for HP_840G3</string>
				<key>Count</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>TableSignature</key>
				<data>AAAAAA==</data>
				<key>OemTableId</key>
				<data></data>
				<key>Mask</key>
				<data></data>
				<key>Enabled</key>
				<true/>
				<key>Replace</key>
				<data>WENHQwg=</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Skip</key>
				<integer>0</integer>
				<key>ReplaceMask</key>
				<data></data>
				<key>Find</key>
				<data>R0NHQwg=</data>
			</dict>
		</array>
	</dict>
</dict>
</plist>
