<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BIOSVendor</key>
	<string>Apple Computer, Inc.</string>
	<key>BIOSVersion</key>
	<string>MB11.88Z.0061.B03.0610121324</string>
	<key>BIOSLegacyVersion</key>
	<string>MB11.88Z.0061.B03.0610121324</string>
	<key>BIOSReleaseDate</key>
	<string>10/12/2006</string>
	<key>SystemManufacturer</key>
	<string>Apple Computer, Inc.</string>
	<key>SystemProductName</key>
	<string>MacBook1,1</string>
	<key>SystemVersion</key>
	<string>1.1</string>
	<key>SystemSerialNumber</key>
	<string>W80A041AU9B</string>
	<key>SystemSKUNumber</key>
	<string>System SKU#</string>
	<key>SystemFamily</key>
	<string>MacBook</string>
	<key>BoardManufacturer</key>
	<string>Apple Computer, Inc.</string>
	<key>BoardProduct</key>
	<string>Mac-F4208CC8</string>
	<key>BoardVersion</key>
	<string>PVT</string>
	<key>BoardRevision</key>
	<string></string>
	<key>BoardAssetTag</key>
	<string>Base Board Asset Tag</string>
	<key>BoardType</key>
	<string>0xA</string>
	<key>BoardLocationInChassis</key>
	<string>Part Component</string>
	<key>ChassisManufacturer</key>
	<string>Apple Computer, Inc.</string>
	<key>ChassisType</key>
	<string>0xA</string>
	<key>ChassisVersion</key>
	<string>Mac-F4208CC8</string>
	<key>ChassisAssetTag</key>
	<string>Asset Tag#</string>
	<key>PlatformFeature</key>
	<string></string>
	<key>FirmwareFeatures</key>
	<string></string>
	<key>FirmwareFeaturesMask</key>
	<string></string>
	<key>ExtendedFirmwareFeatures</key>
	<string></string>
	<key>ExtendedFirmwareFeaturesMask</key>
	<string></string>
	<key>MemoryFormFactor</key>
	<string>0xD</string>
	<key>ProcessorType</key>
	<array>
		<string>0x0201</string>
	</array>
	<key>ProcessorBusSpeed</key>
	<array>
		<string>12345</string>
	</array>
	<key>SmcGeneration</key>
	<string>1</string>
	<key>SmcRevision</key>
	<array>
		<string>0x01</string>
		<string>0x04</string>
		<string>0x0f</string>
		<string>0x00</string>
		<string>0x00</string>
		<string>0x12</string>
	</array>
	<key>SmcBranch</key>
	<array>
		<string>0x62</string>
		<string>0x72</string>
		<string>0x61</string>
		<string>0x6E</string>
		<string>0x63</string>
		<string>0x68</string>
		<string>0x00</string>
		<string>0x00</string>
	</array>
	<key>SmcPlatform</key>
	<array>
		<string>0x6D</string>
		<string>0x37</string>
		<string>0x30</string>
		<string>0x00</string>
		<string>0x00</string>
		<string>0x00</string>
		<string>0x00</string>
		<string>0x00</string>
	</array>
	<key>SmcEPCI</key>
	<string>0x71001</string>
	<key>AppleModelCode</key>
	<array>
		<string>U9B</string>
	</array>
	<key>AppleBoardCode</key>
	<array>
		<string>V3G</string>
	</array>
	<key>AppleModelYear</key>
	<array>
		<string>2006</string>
	</array>
</dict>
</plist>
