<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>acpi_patches</key>
	<array>
		<dict>
			<key>url</key>
			<string>https://raw.githubusercontent.com/mackie100/OCClocalizations/master/patches_database/patches/OS-Rename.plist</string>
			<key>title</key>
			<string>OS-Rename</string>
		</dict>
	</array>
</dict>
</plist>
