<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI_patches</key>
	<array>
		<dict>
			<key>url</key>
			<string>https://raw.githubusercontent.com/mackie100/OCClocalizations/master/patches_database/patches/ACPI/Rename_Patches/OS_Renamed_patches.plist</string>
			<key>title</key>
			<string>OS Renamed patches</string>
		</dict>
	</array>
	<key>Kernel_patches</key>
	<array>
		<dict>
			<key>url</key>
			<string>https://raw.githubusercontent.com/mackie100/OCClocalizations/master/patches_database/patches/Kernel/AMD_Ryzen_series_Kernel_patches.plist</string>
			<key>title</key>
			<string>AMD Ryzen series Kernel patches</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://raw.githubusercontent.com/mackie100/OCClocalizations/master/patches_database/patches/Kernel/AMD_AM4_and_FX_series_Kernel_patches.plist</string>
			<key>title</key>
			<string>AMD AM4 and FX series Kernel patches</string>
		</dict>
	</array>
	<key>KEXT_Preset_List</key>
	<array>
		<dict>
			<key>url</key>
			<string>https://raw.githubusercontent.com/mackie100/OCClocalizations/master/patches_database/patches/Kext/I2C_Drivers_List.plist</string>
			<key>title</key>
			<string>I2C Drivers Preset List</string>
		</dict>
	</array>
</dict>
</plist>
