<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI_patches</key>
	<array>
		<dict>
			<key>title</key>
			<string>ACPI_6D_Renamed_patches</string>
			<key>url</key>
			<string>https://gitee.com/btwise/OCClocalizations/raw/master/patches_database/patches/ACPI/Rename_Patches/ACPI_6D_Renamed_patches.plist</string>
		</dict>
		<dict>
			<key>title</key>
			<string>APCI_0D_Renamed_patches</string>
			<key>url</key>
			<string>https://gitee.com/btwise/OCClocalizations/raw/master/patches_database/patches/ACPI/Rename_Patches/APCI_0D_Renamed_patches.plist</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Asrock_Z390_RTC_Patches</string>
			<key>url</key>
			<string>https://gitee.com/btwise/OCClocalizations/raw/master/patches_database/patches/ACPI/Rename_Patches/Asrock_Z390_RTC_Patches.plist</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Brightness_hotkey_Renamed</string>
			<key>url</key>
			<string>https://gitee.com/btwise/OCClocalizations/raw/master/patches_database/patches/ACPI/Rename_Patches/Brightness_hotkey_Renamed.plist</string>
		</dict>
		<dict>
			<key>title</key>
			<string>OS_Renamed_patches</string>
			<key>url</key>
			<string>https://gitee.com/btwise/OCClocalizations/raw/master/patches_database/patches/ACPI/Rename_Patches/OS_Renamed_patches.plist</string>
		</dict>
		<dict>
			<key>title</key>
			<string>PNLF_renamed_XNLF_For_Lenovo_laptop</string>
			<key>url</key>
			<string>https://gitee.com/btwise/OCClocalizations/raw/master/patches_database/patches/ACPI/Rename_Patches/PNLF_renamed_XNLF_For_Lenovo_laptop.plist</string>
		</dict>
		<dict>
			<key>title</key>
			<string>PTSWAK_Renamed_patches</string>
			<key>url</key>
			<string>https://gitee.com/btwise/OCClocalizations/raw/master/patches_database/patches/ACPI/Rename_Patches/PTSWAK_Renamed_patches.plist</string>
		</dict>
		<dict>
			<key>title</key>
			<string>S3_Renamed_XS3_for_Disable_S3_Sleep</string>
			<key>url</key>
			<string>https://gitee.com/btwise/OCClocalizations/raw/master/patches_database/patches/ACPI/Rename_Patches/S3_Renamed_XS3_for_Disable_S3_Sleep.plist</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Sleep_button_LID_Renamed_patches</string>
			<key>url</key>
			<string>https://gitee.com/btwise/OCClocalizations/raw/master/patches_database/patches/ACPI/Rename_Patches/Sleep_button_LID_Renamed_patches.plist</string>
		</dict>
	</array>
	<key>KEXT_Preset_List</key>
	<array>
		<dict>
			<key>title</key>
			<string>BCM WIFI Bluetooth Drivers</string>
			<key>url</key>
			<string>https://gitee.com/btwise/OCClocalizations/raw/master/patches_database/patches/Kext/BCM_WIFI_Bluetooth_Drivers_Order_List.plist</string>
		</dict>
		<dict>
			<key>title</key>
			<string>I2C Drivers Preset List</string>
			<key>url</key>
			<string>https://gitee.com/btwise/OCClocalizations/raw/master/patches_database/patches/Kext/I2C_Drivers_List.plist.plist</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Lilu-SMC-WEG-ALC-Drivers</string>
			<key>url</key>
			<string>https://gitee.com/btwise/OCClocalizations/raw/master/patches_database/patches/Kext/Lilu-SMC-WEG-ALC-Drivers_Order_List.plist</string>
		</dict>
		<dict>
			<key>title</key>
			<string>PS2Keyboard Drivers</string>
			<key>url</key>
			<string>https://gitee.com/btwise/OCClocalizations/raw/master/patches_database/patches/Kext/PS2Keyboard_Driver_Order_List.plist</string>
		</dict>
		<dict>
			<key>title</key>
			<string>PS2SmartKeyboard Drivers</string>
			<key>url</key>
			<string>https://gitee.com/btwise/OCClocalizations/raw/master/patches_database/patches/Kext/PS2SmartKeyboard_Drivers_Order_List.plist</string>
		</dict>
	</array>
	<key>Kernel_patches</key>
	<array>
		<dict>
			<key>title</key>
			<string>AMD Ryzen series Kernel patches</string>
			<key>url</key>
			<string>https://gitee.com/btwise/OCClocalizations/raw/master/patches_database/patches/Kernel/AMD_Ryzen_series_Kernel_patches.plist</string>
		</dict>
		<dict>
			<key>title</key>
			<string>AMD AM4 and FX series Kernel patches</string>
			<key>url</key>
			<string>https://gitee.com/btwise/OCClocalizations/raw/master/patches_database/patches/Kernel/AMD_AM4_and_FX_series_ Kernel_patches.plist</string>
		</dict>
	</array>
</dict>
</plist>
