<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BIOSVendor</key>
	<string>Apple Inc.</string>
	<key>BIOSVersion</key>
	<string>1554.40.33.0.0</string>
	<key>BIOSLegacyVersion</key>
	<string>MBA81.88Z.F000.B00.2010042158</string>
	<key>BIOSReleaseDate</key>
	<string>10/04/2020</string>
	<key>SystemManufacturer</key>
	<string>Apple Inc.</string>
	<key>SystemProductName</key>
	<string>MacBookAir8,1</string>
	<key>SystemVersion</key>
	<string>1.0</string>
	<key>SystemSerialNumber</key>
	<string>C02XG1D8JK78</string>
	<key>SystemSKUNumber</key>
	<string>System SKU#</string>
	<key>SystemFamily</key>
	<string>MacBook Air</string>
	<key>BoardManufacturer</key>
	<string>Apple Inc.</string>
	<key>BoardProduct</key>
	<string>Mac-827FAC58A8FDFA22</string>
	<key>BoardVersion</key>
	<string>MacBookAir8,1</string>
	<key>BoardRevision</key>
	<string>0x3</string>
	<key>BoardAssetTag</key>
	<string>Base Board Asset Tag</string>
	<key>BoardType</key>
	<string>0xA</string>
	<key>BoardLocationInChassis</key>
	<string>Part Component</string>
	<key>ChassisManufacturer</key>
	<string>Apple Inc.</string>
	<key>ChassisType</key>
	<string>0x9</string>
	<key>ChassisVersion</key>
	<string>Mac-827FAC58A8FDFA22</string>
	<key>ChassisAssetTag</key>
	<string>Asset Tag#</string>
	<key>PlatformFeature</key>
	<string>0x3A</string>
	<key>FirmwareFeatures</key>
	<string>0xFD8FF42E</string>
	<key>FirmwareFeaturesMask</key>
	<string>0xFF9FFF3F</string>
	<key>ExtendedFirmwareFeatures</key>
	<string>0x00000000FD8FF42E</string>
	<key>ExtendedFirmwareFeaturesMask</key>
	<string>0x00000000FF9FFF3F</string>
	<key>MemoryFormFactor</key>
	<string>0xD</string>
	<key>ProcessorType</key>
	<array>
		<string>0x0601</string>
	</array>
	<key>ProcessorBusSpeed</key>
	<array>
		<string>12345</string>
	</array>
	<key>SmcGeneration</key>
	<string>3</string>
	<key>SmcRevision</key>
	<array/>
	<key>SmcBranch</key>
	<array/>
	<key>SmcPlatform</key>
	<array>
		<string>0x6A</string>
		<string>0x31</string>
		<string>0x34</string>
		<string>0x30</string>
		<string>0x6B</string>
		<string>0x00</string>
		<string>0x00</string>
		<string>0x00</string>
	</array>
	<key>SmcEPCI</key>
	<string>0x7B007</string>
	<key>AppleModelCode</key>
	<array>
		<string>JK78</string>
	</array>
	<key>AppleBoardCode</key>
	<array>
		<string>KN2R</string>
	</array>
	<key>AppleModelYear</key>
	<array>
		<string>2018</string>
		<string>2019</string>
	</array>
</dict>
</plist>
